<div class="new-post-block">
    <h2 id="editor-title">Нов пост</h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Заглавие на поста:</h1>
                <input type="text" value="" placeholder="Title" id="title"/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Автор:</h1>
                <input type="text" value="" placeholder="Author" id="author" disabled>
            </li>
        </ul>

        <h1 class="title-form">Съдържание:</h1>
        <textarea class="content-field" placeholder="Content" id="content"></textarea>
        <br>
        <button type="button" id="create-new-post-request-button">Публикувай</button>
    </form>
</div>

<footer>
    <p class="footer-text">&copy; Idea-Mama, No Rights Reserved</p>
</footer>