<aside class="sidebar">
    <div class="logo"><img src="images/Mama-designstyle-birthday-m.png" alt=""></div>
    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Начало
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Създай нов пост
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Изход
                </a>
            </li>
        </ul>

        <hr>
    </nav>
</aside>
<main class="main-content">
    
</main>